In [2]:
#     0    1     2
l1 = [28,'Ali','A.I']
#     -3   -2    -1
l1

[28, 'Ali', 'A.I']

# Dictionary

#key:value = item

#{key1: value1,
# key2:value2}

#dict[key]

In [9]:
d1 = {'id':20,
'name':'Ali',
'course':'A.I'}
d1

{'id': 20, 'name': 'Ali', 'course': 'A.I'}

In [12]:
d1 = {}
d1['id']=200
d1['name']='Muhammad Hassan'
d1['course']='A.I'
d1

{'id': 200, 'name': 'Muhammad Hassan', 'course': 'A.I'}

In [16]:
d1 = {'id':20, 'name':'Ali', 'course':'A.I'}
print(d1)
d1.clear()
print(d1)
d1 = {'id':20, 'name':'Ali', 'course':'A.I'}
d1 = d1.clear()
print(d1)

{'id': 20, 'name': 'Ali', 'course': 'A.I'}
{}
None

In [26]:
l1 = ['name','course','timing','address']
l2 = ['abc','def','ghi','jkl']
d1 = dict.fromkeys(l1,l2)
d1

{'name': ['abc', 'def', 'ghi', 'jkl'],
 'course': ['abc', 'def', 'ghi', 'jkl'],
 'timing': ['abc', 'def', 'ghi', 'jkl'],
 'address': ['abc', 'def', 'ghi', 'jkl']}

In [22]:
st = input("Enter comma separated values")
d1 = dict.fromkeys(st.split(","))
d1

Enter comma separated valuesone,two,three,four,five,six

{'one': None,
 'two': None,
 'three': None,
 'four': None,
 'five': None,
 'six': None}

In [23]:
print(dict.fromkeys(input("Enter comma separated values").split(",")))

Enter comma separated valuesone,two,three,four,five
{'one': None, 'two': None, 'three': None, 'four': None, 'five': None}

In [29]:
l1 = input("First CSV Keys").split(",")
l2 = input("Second CSV Values").split(",")
d1 = {}
counter = 0
while(counter < len(l1)):
    d1[l1[counter]] = l2[counter]
    counter += 1
d1

First CSVa,b,c,d
Second CSVe,f,g,h

{'a': 'e', 'b': 'f', 'c': 'g', 'd': 'h'}

In [30]:
l1 = input("First CSV Keys").split(",")
l2 = input("Second CSV Values").split(",")
d1 = dict(zip(l1,l2))
d1

First CSVa,b,c,d
Second CSVe,f,g,h

{'a': 'e', 'b': 'f', 'c': 'g', 'd': 'h'}

In [39]:
d = {}
d["id"] = input("Enter ID ")
d['name'] = input("Enter Name ")
d['skills'] = input("Enter skills ").split(",")
d

Enter ID 002
Enter Name Hafiz Safdar
Enter skills Java,PHP,.NET

{'id': '002', 'name': 'Hafiz Safdar', 'skills': ['Java', 'PHP', '.NET']}

In [35]:
print(d.get('id'))
print(d.get('class','Not found'))

001
Not found

In [36]:
d.items()

dict_items([('id', '001'), ('name', 'Hafiz Safdar Sultan'), ('skills', ['Python', 'PHP', '.NET'])])

In [37]:
d.pop('id')
d

{'name': 'Hafiz Safdar Sultan', 'skills': ['Python', 'PHP', '.NET']}

In [38]:
d.popitem()

('skills', ['Python', 'PHP', '.NET'])

In [66]:
d1 = {'a':200,'c':300,'b':600,'d':400}
s_l = dict(sorted(d1.items()))
print(s_l)
rs_l = dict(sorted(d1.items(),key=lambda x:x[1]))
print(rs_l)

{'a': 200, 'b': 600, 'c': 300, 'd': 400}
{'a': 200, 'c': 300, 'd': 400, 'b': 600}

In [ ]:
students = []
while(True):
    d = {}
    d["id"] = input("Enter ID ")
    d['name'] = input("Enter Name ")
    d['skills'] = input("Enter skills ").split(",")
    students.append(d)
    if(input("Do you want to enter another? ") == 'n'):
        break
print(students)